@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

}

.section-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 50vh;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.alert-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -1.3rem;
}

.alert {
    font-size: 1.6rem;
    padding: 0 1.5rem 0 1.5rem;
    text-transform: capitalize;
    text-align: center;
    border-radius: 1.2rem;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    opacity: 0;
    transition: .6s ease-in-out;
}

.alert-danger {
    background-color: rgb(255, 94, 94);
    opacity: 1;
    transition: .3s;
}

.alert-success {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    opacity: 1;
    transition: .3s;
}

.to-buy-form {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.show-container {
    opacity: 1 !important; 
    transition: .6s;
}

.form-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.3rem;
}

.form-control button {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
    width: 8rem;
    height: 2.5rem;
    border-top-right-radius: .8rem;
    border-bottom-right-radius: .8rem;
    cursor: pointer;
    background-color: #8EC5FC;
    transition: .3s ease-in-out;
}

.form-control button:hover {
    background-color: #4b83bb;
    transition: .3s ease-in-out;
}


.form-control input {
    background-color: aliceblue;
    font-size: 1.5rem;
    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
    outline: none;
    text-align: left;
    width: 25rem;
    height: 2.5rem;
    padding-left: 1rem;
}

.to-buy-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.3rem;
    margin-bottom: 2.3rem;
    width: 85%;
    border-radius: .3rem;
    gap: 2rem;
    opacity: 0;
    transition: .6s;
}

.clear-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
}

.clear-btn {
    text-transform: capitalize;
    font-size: 1.3rem;
    color: rgb(252, 85, 85);
    text-align: center;
    cursor: pointer;
    background: none;
    transition: .5s ease-in-out;
}

.clear-btn-underline {
    width: 0%;
    border: 1px solid rgba(252, 85, 85, 0);
    transition: .5s ease-in-out;
}

.clear-btn:hover {
    letter-spacing: .1rem;
    transition: .5s ease-in-out;
}

.clear-btn:hover ~ .clear-btn-underline {
    width: 100%;
    border: 1px solid rgb(252, 85, 85);
    transition: .8s ease-in-out;
}

.to-buy-list {
    background-color: #fff;
    border-radius: .3rem;
    width: 95%;
    max-height: 11.5rem;
    overflow-y: auto;
}

.to-buy-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;
    padding: .4rem 1rem .4rem 1rem;
    border-bottom: 1px solid rgba(212, 212, 212, 0.712);
    
}

.title {
    transition: .2s ease-in;
    width: 90%;
    border-radius: .5rem;
    padding-left: 1rem;
    cursor: pointer;
}

.title:hover {
    background-color: #8EC5FC;
    transition: .4s ease-in-out;
    
}

.title-edit{
    background-color: #85FFBD;
    padding-left: 1rem;
    transition: .6s ease-in-out;
}

.to-buy-item button {
    align-items: center;
    cursor: pointer;
    background: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    transition: .25s ease-in-out;
}

.to-buy-item button:hover {
    background: rgba(206, 206, 206, 0.329);
    transition: .5s ease-in-out;
}


.btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

::-webkit-scrollbar {
    width: .7rem;
}

::-webkit-scrollbar-track {
    background: #e0c3fc00;
    border-radius: .3rem;
}

::-webkit-scrollbar-thumb {
    background-color: #71afec;
    border-radius: .3rem;
}

